<!DOCTYPE html>
<html>
<head>
<link media="screen" rel="stylesheet" type="text/css" href="../styles/extension.css">
<link media="screen" rel="stylesheet" type="text/css" href="../themes/dark/theme.css">
<script type="text/javascript" src="../controllers/PopUp.js"></script>
</head>
<body class="popup-body">
<div id="main" class="layout">
  <div id="popup-enable-container">
    <h1>Linked Union Mission Control</h1>
    <p>This is the Linked Union control panel, where you can enable and disable Linked Union for the current page URL and all pages contained within it.</p>
    <button id="popup-enable" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">Enable</span></button>
    <button id="popup-disable" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">Disable</span></button>
    <hr>
  </div>
</div>
</body>
</html>